version: '3.8'

services:
  metad:
    image: vesoft/nebula-metad:v3.8.0
    container_name: nebula-metad
    environment:
      USER: root
      TZ: Asia/Shanghai
    # 挂载了具名卷 nebula_meta_vol
    command: --meta_server_addrs=nebula-metad:9559 --local_ip=nebula-metad --ws_ip=nebula-metad --port=9559 --ws_http_port=19559 --data_path=/data/meta --logtostderr=true
    volumes:
      - nebula_meta_vol:/data/meta
    networks:
      nebula-net:
    restart: always
    platform: linux/amd64

  storaged:
    image: vesoft/nebula-storaged:v3.8.0
    container_name: nebula-storaged
    environment:
      USER: root
      TZ: Asia/Shanghai
    # 挂载了具名卷 nebula_storage_vol
    command: --meta_server_addrs=nebula-metad:9559 --local_ip=nebula-storaged --ws_ip=nebula-storaged --port=9779 --ws_http_port=19779 --data_path=/data/storage --logtostderr=true
    depends_on:
      - metad
    volumes:
      - nebula_storage_vol:/data/storage
    networks:
      nebula-net:
    restart: always
    platform: linux/amd64

  graphd:
    image: vesoft/nebula-graphd:v3.8.0
    container_name: nebula-graphd
    environment:
      USER: root
      TZ: Asia/Shanghai
    # Graphd 本身无状态，不需要挂载数据卷
    command: --meta_server_addrs=nebula-metad:9559 --local_ip=nebula-graphd --ws_ip=nebula-graphd --port=9669 --ws_http_port=19669 --logtostderr=true
    depends_on:
      - metad
      - storaged
    ports:
      - "9669:9669"
    networks:
      nebula-net:
    restart: always
    platform: linux/amd64

# 在这里声明具名卷（Docker 会自动管理它们的位置）
volumes:
  nebula_meta_vol:
  nebula_storage_vol:

networks:
  nebula-net:
    driver: bridge